@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proff</title>
</head>
<body>
    <div>
        <span>Show Proff</span>
        @*<img width="80%" height="80%" src="{{asset('images/'.$pic->proof)}}">*@
    </div>
</body>
</html>
